<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/images/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <mat-list-item routerLink="#">
    <mat-icon>dashboard</mat-icon><span>Dashboard</span>
  </mat-list-item>
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
      <mat-icon>dvr</mat-icon> Tables
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="tables/account">
        <mat-icon>lock</mat-icon><span> Account </span>
      </a>
      <a mat-list-item routerLink="tables/user">
        <mat-icon>person</mat-icon><span> User </span>
      </a>
      <a mat-list-item routerLink="tables/employee">
        <mat-icon>supervisor_account</mat-icon><span> Employee </span>
      </a>
      <a mat-list-item routerLink="tables/food">
        <mat-icon>fastfood</mat-icon><span> Food </span>
      </a>
      <a mat-list-item routerLink="tables/order">
        <mat-icon>list_alt</mat-icon><span> Order </span>
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-nav-list>
