<div class="container-fluid page">
  <app-title title="Home"></app-title>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Gender</th>
        <th scope="col">Birthday</th>
        <th scope="col">Phone</th>
        <th scope="col">Photo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i = index">
        <th scope="row">{{ i }}</th>
        <td>{{ employee.name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.birthday }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.photo }}</td>
        <td class="function-icon">
          <a mat-list-item routerLink="">
            <mat-icon>remove_red_eye</mat-icon>
          </a>
          <a mat-list-item routerLink="">
            <mat-icon>edit</mat-icon>
          </a>
          <a mat-list-item routerLink="">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
