<div class="container">
  <app-title title="Order list" margin="0 0 0 2rem"></app-title>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <!-- <th>code</th> -->
        <th>Adress</th>
        <th>Date time</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let order of orders; let i = index">
        <td>{{ i }}</td>
        <!-- <td>{{ order.orderCode }}</td> -->
        <td>{{ order.address }}</td>
        <td>{{ order.createdAt }}</td>
        <td *ngIf="order.status == 0" style="color: red">Processing</td>
        <td *ngIf="order.status == 1" style="color: red">Confirmed</td>
        <td *ngIf="order.status == 2" style="color: red">Cooking</td>
        <td *ngIf="order.status == 3" style="color: red">Shipped</td>
        <td *ngIf="order.status == 4" style="color: red">Delivered</td>
        <td *ngIf="order.status == 5" style="color: green">Completed</td>
      </tr>
    </tbody>
  </table>
</div>
