<header>
  <div class="container">
    <a routerLink="" class="logo">HFood</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="login">Login</a>
        </li>
        <li class="menu-container">
          <a>Account</a>
          <div class="menu">
            <a routerLink="profile">Profile</a>
            <a routerLink="order">Order</a>
            <a *ngIf="isAuth" (click)="logOutAction()">LogOut</a>
          </div>
        </li>
        <li>
          <a routerLink="cart"
            >Cart
            <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
