.page {
  color: grey;
  padding: 0 1rem;
  background: #f1f5f9;
}

.input-box {
  display: flex;
  align-items: center;
}

form {
  margin: 1rem 2rem 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

label {
  font-weight: bold;
  margin-right: 5px;
}

select,
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
}
