<div class="container">
  <div class="row">
    <div class="col-75">
      <div class="container-sub">
        <form [formGroup]="orderForm" (ngSubmit)="order()">
          <div class="row">
            <div class="col-50">
              <h3>Billing Address</h3>
              <label for="fname"><i class=""></i> Full Name</label>
              <input
                type="text"
                placeholder="Bui Hoang Ha"
                formControlName="fullname" />
              <label for="email"><i class=""></i> Email</label>
              <input
                type="text"
                placeholder="hahoang@gmail.com"
                formControlName="email" />
              <label for="adr"><i class=""></i> Address</label>
              <input
                type="text"
                placeholder="235 HQV, Co Nhue, Bac Tu Liem"
                formControlName="address" />
              <!-- <label for="city"><i class=""></i> City</label>
              <input type="text" placeholder="Ha Noi" formControlName="city" /> -->
            </div>
          </div>
          <label>
            <input type="checkbox" checked="checked" name="sameadr" /> Shipping
            address same as billing
          </label>
          <button type="submit" class="btn">Continue to checkout</button>
        </form>
      </div>
    </div>

    <div class="col-25">
      <div class="container-sub">
        <h4>
          Cart
          <span class="price" style="color: black">
            <i class="fa fa-shopping-cart"></i>
            <b>4</b>
          </span>
        </h4>
        <p><a href="#">Product 1</a> <span class="price">$15</span></p>
        <p><a href="#">Product 2</a> <span class="price">$5</span></p>
        <p><a href="#">Product 3</a> <span class="price">$8</span></p>
        <p><a href="#">Product 4</a> <span class="price">$2</span></p>
        <hr />
        <p>
          Total <span class="price" style="color: black"><b>$30</b></span>
        </p>
      </div>
    </div>
  </div>
</div>
